@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111827;
  color: #4ade80;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1f2937; 
}
::-webkit-scrollbar-thumb {
  background: #166534; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #15803d; 
}
